src/__pycache__/
.idea/
output/
output_ps/
output_als/
output_full/
venv
log.txt
prova/
prova_rf/
*.db
prova_st/
prova_rf_two/
output_*

results_dt/

results_rf10/

results_rf10_2s/

results_rf10_1s/
