anytree
click
cycler
configparser
fonttools
GitPython
graphviz
Jinja2
joblib
kiwisolver
lxml
matplotlib
numpy
nyoka
packaging
Pillow
pyalslib
pyamosa
pyboolector
pyeda
pyparsing
python-dateutil
python-igraph
scikit-learn
sklearn2pmml
scipy
setuptools-scm
six
threadpoolctl
tomli
z3-solver
